[submodule "bookingservice"]
	path = bookingservice
	url = https://github.com/hrr46-fec-aang/bookingservice.git
[submodule "photoservice"]
	path = photoservice
	url = https://github.com/hrr46-fec-aang/photoservice.git
[submodule "listingservice"]
	path = listingservice
	url = https://github.com/hrr46-fec-aang/listingservice.git
[submodule "public/bannerservice"]
	path = public/bannerservice
	url = https://github.com/hrr46-fec-aang/bannerservice.git
